body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF7D2C;
    padding: 5px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container img {
    width: 200px; 
    height: auto; 
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    margin: 0;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-wrap {
    margin: 20px auto;
    width: 400px;
}

.form-wrap h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.form-wrap input[type="text"],
.form-wrap input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-wrap button {
    width: 100%;
    padding: 10px;
    background-color: #FF7D2C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-wrap button:hover {
    background-color: #FF7D2C;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-group button {
    padding: 10px 20px;
    background-color: #FF7D2C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #FFA263;
}

.output {
    margin-top: 20px;
}

.output h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.output table {
    width: 100%;
    border-collapse: collapse;
}

.output th,
.output td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.output th {
    background-color: #FF7D2C;
    color: #fff;
}

.output tr:hover {
    background-color: #f2f2f2;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.back-button {
    padding: 10px 20px;
    background-color: #FF7D2C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #FFA263;
}